{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--home">


    {% include "includes/header.twig" %}


    <!-- Main Content -->
    <div class="main">
        <div class="row  row--gutters">


            <!-- Content -->
            <div class="col  col--two-thirds">
                <main class="main__content">
                    <div class="main__headline">
                        {{widget('content', 'headline', {content: '
                            <h1>Headline for obituary</h1>
                        '})|raw}}
                    </div>
                    <div class="main__description">
                        {{zone('main')|raw}}
                    </div>
                </main>
            </div>


            <!-- Sidebar -->
            <div class="col  col--third">
                {% include "includes/sidebar.twig" %}
            </div>

        </div>
    </div>


</div>

{% endblock %}
