{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--home">


    {% include "includes/header.twig" %}


    <!-- Main Content -->
    <div class="main">
        <div class="row  row--gutters">


            <!-- Content -->
            <div class="col  col--two-thirds">
                <main class="main__content">
                    <div class="main__headline">
                        {{widget('content', 'obit-headline', {content: '
                            <h1>Headline for obituary</h1>
                        '})|raw}}
                    </div>
                    <div class="main__description">
                        {{widget('content', 'obit-description', {content: '
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia porta nunc, nec porta turpis vehicula id. Pellentesque suscipit sed elit eget sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus scelerisque, nisl in bibendum pretium.</p>
                            <p>Nullam varius congue urna, ac pharetra odio tristique id. Praesent euismod varius metus, in venenatis neque sagittis vel. Nam ut rutrum augue, sed placerat diam. Ut vitae nisl id odio ultrices aliquam. Integer mollis fringilla nisl et vulputate. In ullamcorper imperdiet mi et interdum. Morbi eget metus id arcu tincidunt dapibus. Quisque magna ante, convallis vel ipsum non, vulputate scelerisque nunc.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia porta nunc, nec porta turpis vehicula id. Pellentesque suscipit sed elit eget sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus scelerisque, nisl in bibendum pretium.</p>
                        '})|raw}}
                    </div>
                </main>
            </div>


            <!-- Sidebar -->
            <div class="col  col--third">
                {% include "includes/sidebar.twig" %}
            </div>

        </div>
    </div>


    <!-- Zone -->
    <div class="main-zone">
        {{zone('main')|raw}}
    </div>


</div>

{% endblock %}
