// -------------------------------------
// Template: Stylesheet
// -------------------------------------


#tdk-toolbar {
    display: none!important;
}


// -----------------------------
// #Imports
// -----------------------------


@import "@{templateLocal}/less/reset.less";           // Reset
@import "@{templateLocal}/less/variables.less";       // Variables
@import "@{templateLocal}/less/typography.less";      // Typography
@import "@{templateLocal}/less/buttons.less";         // Buttons
@import "@{templateLocal}/less/mixins.less";          // Mixins
@import "@{templateLocal}/less/grid.less";            // Grid
@import "@{templateLocal}/less/editor-columns.less";  // Columns
@import "@{templateLocal}/less/widgets.less";         // Widgets




// ------------------------------
// Site Styles
// ------------------------------


// Body
body {
    background-color: @color__body--background;
}


// Site Container
.site-container {
    max-width: @value__container--width;
    margin: 0 auto;
    padding: @value__spacing--desktop;
    background-color: white;
    // background-color: @color__container-–background;
    box-shadow: 10px 20px 70px rgba(110,110,110,0.05);

    @media @tablet {
        padding: @value__spacing--tablet;
    }
    @media @mobile {
        padding: @value__spacing--mobile;
    }
}


// Container
.container {
    width: 90%;
    max-width: @value__container--width;
    margin: 0 auto;
}




// ------------------------------
// Page Elements
// ------------------------------



// Header
// ------------------------------


.header {
    text-align: center;
}


// Header Item: Image
.header__item--image {
    line-height: 0;

    .image {
        border-radius: 50%;

        @media @tablet {
            max-width: 250px;
        }
        @media @mobile {
            max-width: 75%;
        }
    }
}


// Header Item: Title
.header__item--title {
    padding: 20px 0 40px;

    @media @mobile {
        padding: 10px 0 20px;
    }

    p {
        padding-bottom: 0;
    }
}




// Global Elements
// ------------------------------


// Image
.image {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}




// Main Content
// ------------------------------


.main {
    p:last-child {
        padding-bottom: 0;
    }
}



// Content
.main__content {
    @media @tablet {
        margin-bottom: @value__spacing--mobile;
        padding: @value__spacing--mobile 0;
        border-bottom: 1px solid darken(@color__body--background, 1%);
        border-top: 1px solid darken(@color__body--background, 1%);
    }
}


// Sidebar
.main__sidebar {
    p, a {
        line-height: bkscale(@font__p--line-height, .9);
    }
    h1, h2,  h4, p {
        padding-bottom: 0;
        font-family: @font__h1--font-family;
    }
    a {
        color: @color__link--text;
    }
    .button {
        width: 100%;
    }
}


// Arrangements
.arrangements__title {
    margin-bottom: 20px;
}
.arrangements__group {
    @media @tablet {
        .flex-display;
        .flex-wrap(wrap);

        .arrangements__item {
            .flex-basis(50%);
        }
    }
    @media @mobile {
        .arrangements__item {
            .flex-basis(100%);
        }
    }
}
.arrangements__item {
    margin-bottom: 20px;

    &--button {
        margin-top: 30px;
        margin-bottom: 0;

        @media @tablet {
            margin-top: 10px;
        }
    }
}

