// -------------------------------------
// Template: Stylesheet
// -------------------------------------


#tdk-toolbar {
    display: none!important;
}


// -----------------------------
// #Imports
// -----------------------------


@import "@{templateLocal}/less/reset.less";           // Reset
@import "@{templateLocal}/less/variables.less";       // Variables
@import "@{templateLocal}/less/typography.less";      // Typography
@import "@{templateLocal}/less/buttons.less";         // Buttons
@import "@{templateLocal}/less/mixins.less";          // Mixins
@import "@{templateLocal}/less/grid.less";            // Grid
@import "@{templateLocal}/less/editor-columns.less";  // Columns
@import "@{templateLocal}/less/widgets.less";         // Widgets




// ------------------------------
// Site Styles
// ------------------------------


// Container
.container {
    width: 90%;
    max-width: @value__container--width;
    margin: 0 auto;
}




// ------------------------------
// Page Elements
// ------------------------------



// Header
// ------------------------------


.header {
    text-align: center;
}

// Profile Image
.header__item--image {
    .image {
        border-radius: 50%;
    }
}




// Main Content
// ------------------------------


// Layout
.main {
}
.main__sidebar {

}
