<!-- Header -->
<header class="header">
    <div class="header__item  header__item--image">
        {{widget('image', 'obit-image', {
            'src': asset('/images/profile-image.jpg')
        })|raw}}
    </div>
    <div class="header__item  header__item--title">
        {{widget('companyname', 'obit-name', {
            'business': 'profile'
        })|raw}}
        {{widget('content', 'obit-lifespan', {content: '
            <p>1939 - 2017</p>
        '})|raw}}
    </div>
</header>
